<div *ngIf="getUser()" class="card my-4">
    <h5 class="card-header text-center">Interests</h5>
    <div class="card-body text-center">
        <ul class="list-group list-group-flush" style="max-height: 365px; overflow: auto">
            <li *ngFor="let item of getUser().interests" class="list-group-item text-center w-100" style="font-size: larger; margin-bottom: 15px;">
                <a class="float-left" style="color:darkcyan;" href="/explore/{{item}}">{{item}}</a>
                <img (click)="removeInterest(item)" src="/assets/close.svg" class="float-right img-fluid zoom"
                    alt="Remove interest">
            </li>
        </ul>
    </div>
</div>