<div class="card my-4">
    <h5 class="card-header">Your Interests</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a style="color:darkcyan;" href="#">Web Design</a>
                    </li>
                    <li>
                        <a style="color:darkcyan;" href="#">HTML</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a style="color:darkcyan;" href="#">TypeScript</a>
                    </li>
                    <li>
                        <a style="color:darkcyan;" href="#">CSS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>